<h1>We're happy to share our lovely cakes with you:</h1>
{{#each cakelist}}
        <a href="'localhost://3000/cakes/' + {{route}}">{{name}}</a>
<!--    <p>{{name}}</p>-->
    <p>Price: ${{price}}</p>
{{/each}}