<h1>We're happy to share our lovely cakes with you:</h1>
{{#each cakelist}}
    <a href="/cakes/{{route}}">{{name}}</a>
    <p>Price: ${{price}}</p>
    <form action="/order" method="post">
        <input type="hidden" name="id" value={{id}}><br>
        <label for="quantity">Quantity:</label><br>
        <select id="quantity" name="quantity">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
        <br>
        <label for="comment">Your comment:</label><br>
        <textarea id="comment" type="text" name="comment"></textarea><br>
        <button type="submit">Order</button>
    </form>
{{/each}}