<h1>Your order:</h1>

<table>
    <th>
    <td>Name</td>
    <td>Size</td>
    <td>Quantity</td>
    <td>Price</td>
    <td>Your Comment</td>
    </th>
    {{#each orderlist}}
        <tr>
            <td>{{name}}</td>
            <td>{{size}}in</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Your Comment</td>
        </tr>
    {{/each}}
</table>
