<h1>Your order:</h1>
{{#each orderlist}}
    <table>
        <th>
        <td>Name</td>
        <td>Size</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Your Comment</td>
        </th>
        <tr>
            <td>Name</td>
            <td>Size</td>
            <td>Quantity</td>
            <td>Price</td>
            <td>Your Comment</td>
        </tr>
    </table>
{{/each}}