<h1>All icecreams we have</h1>
<ul>
    {{#each icecreamlist}}
        <h2>{{name}} flavor</h2>
        <li>Price: ${{price}}</li>
        <li>Awesomeness: {{awesomeness}}</li>
        <br>
    {{/each}}
</ul>